* {
    margin: 0;
    /*Pesquisar*/
    padding: 0;
    /*Pesquisar*/
    box-sizing: border-box;
    /*Pesquisar*/
}

/*Corpo*/
body {
    background-color: #1a0f0f;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #636B2F;
    color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    /*Configura o espaço vazio entre o conteúdo HTML e a borda*/
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
}

nav {
    margin-top: 50px
}

nav a {
    color: #FDF5E6;
    /*altera a cor da fonte*/
    margin: 0 50px;
    /*adiciona margem 0 TOP/BOTTOM e 10px LEFT e RIGHT*/
    text-decoration: none;
    /*remove a marcação de link*/
    font-weight: bold;
    /*coloca expressura na fonte*/
}

nav a:hover {
    color: #fff;
    /**/
    background-color: #421404;


 
}

.receba{
    
}
 
.foto img{
    width: 800px;
    margin-top: 20px;
    padding: -1px;
    border-radius: 16px;
    transition: transform 0.3s;
    margin: auto;
    margin-top: 30px;
    margin-left: 250px;
    margin-bottom: 40px;
    
    
}

.foto img:hover{
    transform: scale(1.05);
}

.texto{
    color: white;
    text-align: center;
}

.texto p{
    text-align: center;
}

 


.footer {
    background-color: #742620;
    color: #FDF5E6;
    padding: 40px 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer_secao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
    gap: 20px;
}

.footer_div {
    flex: 1 1 250px;
}

.footer_div h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #FDF5E6;
}

.footer_div p {
    font-size: 14px;
    line-height: 1.6;
}

.footer_div ul {
    list-style-type: none;
    padding: 0;
}

.footer_div ul li {
    margin-bottom: 8px;
}

.footer_div ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    /*?*/
}

.footer_div ul li a:hover {
    color: #ff6600;
}

.footer_paragrafo {
    border-top: 1px solid #1337;
    color: #aaa;
    font-size: 13px;
    margin-top: 25px;
    padding-top: 15px;
    text-align: center;


}